@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Opinion text formatting for CourtListener HTML */
.opinion-text {
  font-size: 15px;
  line-height: 1.8;
}

.opinion-text p {
  margin-bottom: 1.25em;
  text-align: justify;
}

.opinion-text p.case_cite,
.opinion-text .case_cite {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: left;
}

.opinion-text .parties {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.opinion-text .docket {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 0.25em;
}

.opinion-text .court {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0.25em;
}

.opinion-text .date {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 1em;
}

.opinion-text .prelims {
  font-size: 14px;
  color: #374151;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e7eb;
}

.opinion-text .indent {
  margin-left: 2em;
  margin-bottom: 0.75em;
}

.opinion-text .num {
  font-weight: 600;
  color: #1f2937;
}

.opinion-text a {
  color: #2563eb;
  text-decoration: none;
}

.opinion-text a:hover {
  text-decoration: underline;
}

.opinion-text .footnote {
  font-size: 13px;
  color: #6b7280;
  vertical-align: super;
}

.opinion-text br + br {
  content: "";
  display: block;
  margin-top: 0.5em;
}

